/* GLOBAL GENERAL
-------------------------------------------------------------- */

body {
    background: #FFFFFF;
    text-align: left;
}

.content {
    background: #ffffff;
    margin: 0 auto;
    min-height: 100%;
    overflow: auto;
    width: 100%;
}

.content > section {
    padding-bottom: 2em; /* 32px */
}

.content > section:last-child {
    margin-bottom: 4em; /* 64px */
}

.wrap {
    display: block;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 1152px;
    overflow: auto;
    padding-left: 3.125%;
    padding-right: 3.125%;
    width: 100%;
}


/* HEADER
-------------------------------------------------------------- */

header {
    background-color: #d6a87e;
	background-image: linear-gradient(left , rgb(222,185,152) 0%, rgb(214,168,126) 100%);
	background-image: -o-linear-gradient(left , rgb(222,185,152) 0%, rgb(214,168,126) 100%);
	background-image: -moz-linear-gradient(left , rgb(222,185,152) 0%, rgb(214,168,126) 100%);
	background-image: -webkit-linear-gradient(left , rgb(222,185,152) 0%, rgb(214,168,126) 100%);
	background-image: -ms-linear-gradient(left , rgb(222,185,152) 0%, rgb(214,168,126) 100%);
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, rgb(222,185,152)),
		color-stop(1, rgb(214,168,126))
	);
    display: block;
    overflow: hidden;
    margin-bottom: 3px;
}

header:before {
    background: url(assets/BG-texture-1.png) repeat scroll center center transparent;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

nav.wrap {
    position: relative;
    height: 4.625em; /* 74px */
}

a#logo {
    background: url(assets/LOGO-fcf.png) no-repeat scroll center center transparent;
    background-size: 216px 172px;
    height: 4.625em;
    left: 0;
    position: absolute;
    top: 0;
    width: 18.75%;
}

nav ul#secondary-nav {
	display: none;
}

nav ul {
    left: auto;
    margin: 0 -10px 0 0;
    position: absolute;
    right: 6.25%;
    text-align: center;
    top: 29px;
}

nav ul li a {
    color: #715341;
    float: left;
    font-size: 28px;
    line-height: 24px;
    padding: 5px 10px 4px;
    text-decoration: none;
    text-shadow: 0 1px 0 #E6CBB2;
    text-transform: uppercase;
}

nav ul li a:visited {
    color: #715341;
    text-shadow: 0 1px 0 #E6CBB2;
}

nav ul li a:hover {
	color: #392A21;
}

nav ul li a:active,
nav ul li#active a {
    color: #ffffff;
    text-shadow: 0 1px 0 #715341;
}

nav ul li a.sign-up {
    margin-left: 8px;
}

nav ul li a.sign-up {
    background: none repeat scroll 0 0 #715341;
    border-radius: 4px 4px 4px 4px;
    color: #D6A87E;
    text-shadow: 0 1px 0 #392A21;
}

nav ul li a.sign-up:hover {
	background: #392A21;
    color: #D6A87E;
    text-shadow: 0 1px 0 #392A21;
}

nav ul li a.sign-up:active,
nav ul li#active a.sign-up {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #715341;
    text-shadow: none;
}


.status-bar {
    background: #715341;
    display: none;
    height: 2.8125em; /* 45px */
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
}

.status-bar .inline {
    text-align: center;
    padding-left: 6.25%;
    padding-right: 6.25%;
    padding-bottom: 0;
}

.status-bar .inline li {
    color: #d6a87e;
    list-style: none outside none;
    font-weight: 100;
    text-align: left;
}

.status-bar .inline li.active {
    font-weight: 300;
}

.status-bar .inline li a {
    color: #d6a87e;
    display: block;
    text-decoration: none;
}

.status-bar .inline li.active a,
.status-bar .inline li:hover a,
.status-bar .inline li a:hover {
    color: #ffffff;
    text-decoration: underline;
}


/* CONTENT
-------------------------------------------------------------- */

.genbox {
    float: left;
    margin: 0 3.33333%;
}

.main .genbox {
    margin-left: 1.709402%;
    margin-right: 1.709402%;
}

.main.full .genbox {
    margin: 0 1.28205%;
}

.full-col {
    clear: both;
    display: block;
    float: none;
}

.two-col {
    width: 13.3333333%;
}

.three-col {
    width: 20%;
}

.four-col {
    width: 26.6667%;
}

.five-col {
	width: 33.3333334%;
}

.six-col {
    width: 40%;
}

.seven-col {
    width: 46.6666667%;
}

.eight-col {
    width: 53.3333334%;
}

.nine-col {
    width: 60%;
}

.ten-col {
    width: 66.6666667%;
}

.eleven-col {
    width: 73.3333334%;
}

.twelve-col {
    width: 80%;
}

.thirteen-col {
    width: 86.6666667%;
}

.fourteen-col {
    width: 93.3333334%;
}

.border {
outline:1px solid #999999;
}

.inline {
    list-style-type:none;
    padding-left:0;
}

.inline li {
    display:inline;
    float:left;
    padding:0;
}

.alignleft {
    float:left;
}

.alignright {
    float:right;
}

.aligncenter {
    float:none;
    margin: 0 auto;
}

.alignnone {
    float:none;
}

.clear-both {
    clear: both
}

.clear-left {
    clear: left
}

.clear-right {
    clear: right
}

.img-txt {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1em; /* 16px */
    line-height: 1em; /* 16px */
    outline: none;
}

.more-link {
    font-size: 0.714286em; /* 15px */
    font-weight: 300;
    line-height: 1.06667em; /* 16px */
    text-decoration: none;
    text-transform: uppercase;
}

.more-link:hover {
    text-decoration: underline;
}

.hide {
    display: none;
}


/* CONTENT: Images & Gallery
-------------------------------------------------------------- */

p > img.alignleft,
iframe.alignleft,
embed.alignleft,
video.alignleft,
canvas.alignleft {
    margin-right: 3.5%;
}

p > img.alignright,
iframe.alignright,
embed.alignright,
video.alignright,
canvas.alignright {
    margin-left: 3.5%;
}

.gallery-item {
    margin-right: 1%;
    margin-top: 1%;
    padding: 1px;
}

.gallery-icon, .thumbnail {
    border: 3px solid #FFFFFF;
    display: block;
    height: 100px;
    outline: 1px solid gray;
    width: 100px;
}

.gallery-item > img,
.thumbnail > img,
.img-centre > img,
.img-centre-w > img,
.img-centre-h > img {
    display: block;
    left: 50%;
    margin: 0;
    max-width: 150%;
    top: 50%;
}

.img-centre-w > img {
    top: auto;
}

.img-centre-h > img {
    left: auto;
}

.img-centre > img,
.img-centre-w > img,
.img-centre-h > img {
}


/* ARTICLE
-------------------------------------------------------------- */

.h-entry {
    margin-bottom: 4.125em; /* 66px */
    margin-top: 0.75em; /* 12px */
    overflow: visible;
    padding-top: 2.75em; /* 44px */
    position: relative;
}

.h-entry .tk-league-gothic.p-name {
    color: #392A21;
    font-size: 4em; /* 64px */
    padding-bottom: 0.28125em; /* 18px */
    padding-top: 0.125em; /* 8px */
    top: 0.046875em; /* 3px */
}

.h-entry .tk-league-gothic.p-name a {
    text-decoration: none;
}

.h-entry .tk-league-gothic.p-name a:visited {
	color: #D6A87E;	
}

.h-entry .tk-league-gothic.p-name a:hover {
	color: #CC6633;
}

.h-entry .tk-league-gothic.p-name a:active {
	color: #F49956;
}

.h-entry .e-content {
    margin-top: 0.5em; /* 8px */
}

.h-entry .e-content ol,
.h-entry .e-content ul,
.h-entry .e-content p {
    font-size: 1.3125em; /* 21px */
    line-height: 1.52381em; /* 32px */
    padding: 0.380952em 0 0.76190476em; /* 8px 0 12px */
    -webkit-font-smoothing: antialiased;
}

.h-entry .e-content ol,
.h-entry .e-content ul {
    padding-left: 1.25em; /* 26px */
    padding-top: 0;
}

.h-entry .e-content li {
    padding-top: 0.380952em; /* 8px */
}

.h-entry .e-content ul ul,
.h-entry .e-content ol ul {
    font-size: 1em; /* 21px */
    padding-bottom: 0;
}

.h-entry .e-content ul ol,
.h-entry .e-content ol ol {
    font-size: 1em; /* 21px */
    padding-bottom: 0;
}

.h-entry .e-content .p-heading {
    color: #AA988D;
    font-size: 1.4375em; /* 23px */
    font-style: italic;
    line-height: 1.3913em; /* 32px */
    padding: 0.86956522em 0; /* 20px 0 */
    text-decoration: underline;
    top: 8px; /* 8px */
}

.h-entry .e-content .tk-museo-sans.p-heading {
    color: #8DAE7C;
    font-size: 1.5625em; /* 25px */
    font-style: normal;
    font-weight: 700;
    line-height: 1.28em; /* 32px */
    padding: 0.8em 0; /* 20px 0 */
    text-decoration: none;
    top: 7px;
}

.h-entry .meta-data {
    background: #E8EFE5;
    height: 2.46154em; /* 32px */
    left: -5.55556%;
    line-height: 2.30769231em; /* 30px */
    position: absolute;
    top: -2px;
    width: 105.556%;
}

.h-entry .meta-data .u-url {
    background: url("assets/ICON-anchor.svg") no-repeat scroll 7px center #8DAE7C;
    float: left;
    height: 100%;
    width: 5.26316%;
    position: relative;
}

.h-entry .meta-data .u-url:before {
    background: url(assets/BG-u-url.png) no-repeat center right transparent;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1em; /* 13px */
}

.h-entry .meta-data,
.h-entry .meta-data a {
	color: #8DAE7C;
    text-decoration: none;
}

.h-entry .meta-data a:hover {
	color: #777777;
    text-decoration: underline;
}

.h-entry .meta-data .dt-published {
    border-left: 1px solid #CCCCCC;
    margin-left: 0.307692em; /* 4px */
    padding-left: 0.538462em; /* 7px */
}

.h-entry .meta-data ul.p-tags {
    float: right;
    height: 100%;
    padding-bottom: 0;
}

.h-entry .meta-data ul.p-tags li {
    height: 100%;
    margin-left: 1px;
}

.h-entry .meta-data ul.p-tags li a {
    background: none repeat scroll 0 0 #d1dfcb;
    color: #FFFFFF;
    display: block;
    height: 100%;
    line-height: 2.30769em; /* 30px */
    padding: 0 0.923077em; /* 0 12px */
    text-decoration: none;
}

.h-entry .meta-data ul.p-tags li a:hover {
    background-color: #8dae7c;
}


/* SECTION: PAYMENT
-------------------------------------------------------------- */

section.payment .fieldrow {
    border-color: #E2E0CD;
    box-shadow: 0 0 8px #FFFFFF;
}

section.payment .fieldrow label {
    background: #E2E0CD;
}

section.payment {
    background-color: #f2f2e1;
background-image: linear-gradient(bottom, rgb(242,242,225) 0%, rgb(247,247,237) 100%);
background-image: -o-linear-gradient(bottom, rgb(242,242,225) 0%, rgb(247,247,237) 100%);
background-image: -moz-linear-gradient(bottom, rgb(242,242,225) 0%, rgb(247,247,237) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(242,242,225) 0%, rgb(247,247,237) 100%);
background-image: -ms-linear-gradient(bottom, rgb(242,242,225) 0%, rgb(247,247,237) 100%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(242,242,225)),
	color-stop(1, rgb(247,247,237))
);
    padding-bottom: 40px;
    padding-top: 18px;
    position: relative;
}

section.payment h3.tk-museo-sans {
    margin-bottom: 12px;
    padding-top: 0;
}

section.payment .payment-type {
    margin-bottom: 0;
}

section.payment #credit-card-set {
    padding-right: 4.5%;
}

section.payment #credit-card-set:before {
    background: url("assets/BG-payment.svg") no-repeat scroll center center transparent;
    content: "";
    height: 134px;
    left: auto;
    margin: auto;
    position: absolute;
    right: 0;
    top: 2px;
    width: 48px;
}

section.payment #cc-number-row,
section.payment #name-on-cc-row,
section.payment #expiry-date-row {
    margin-left: 0;
}

section.payment #cc-number-row label, 
section.payment #name-on-cc-row label {
    width: 37.4%;
}

section.payment #cc-number-row input, 
section.payment #name-on-cc-row input {
    width: 62.6%;
}

section.payment #expiry-date-row {
	float: left;
    margin-right: 2%;
    width: 68%;
}

section.payment #expiry-date-row label {
    width: 35%;
}

section.payment #expiry-date-row select {
    float: left;
    width: auto;
}

section.payment select#expiry-date-month {
}

section.payment select#expiry-date-year {
    float: right;
}

section.payment #cvc-row {
    width: 30%;
}

section.payment #cvc-row label {
    width: 40%;
}

section.payment input#cvc {
    width: 60%;
}

section.payment #paypal-set,
section.payment #cheque-set {
    border: 0.25em solid #E2E0CD;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    margin-top: 18px;
    padding: 4px 1em 0.75em;
}

section.payment #paypal-set:before,
section.payment #cheque-set:before {
    background: url(assets/ICON-paypal.svg) no-repeat center center transparent;
    bottom: 0;
    content: "";
    height: 34px;
    left: auto;
    position: absolute;
    right: 0;
    top: auto;
    width: 104px;
    z-index: 1;
}

section.payment #cheque-set:before {
    background: url(assets/ICON-cheque.svg) no-repeat center center transparent;
    height: 38px;
    width: 64px;
    right: 8px;
    bottom: 8px;
}

section.payment ul.credit-card {
    font-family: "Courier New","Courier",monospace;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 8px;
    overflow: hidden;
    padding: 14px 0 6px;
    width: 552px;
}

section.payment .visa {}

section.payment ul.credit-card li {
    background: none repeat scroll 0 0 #cccccc;
    border-bottom: 2px solid #FFFFFF;
    -webkit-border-radius: 14px 14px 14px 14px;
     -khtml-border-radius: 14px 14px 14px 14px;
      -icab-border-radius: 14px 14px 14px 14px;
       -moz-border-radius: 14px 14px 14px 14px;
         -o-border-radius: 14px 14px 14px 14px;
    border-radius: 14px 14px 14px 14px;
    -webkit-box-shadow: 0 0 6px #888888;
     -khtml-box-shadow: 0 0 6px #888888;
      -icab-box-shadow: 0 0 6px #888888;
       -moz-box-shadow: 0 0 6px #888888;
         -o-box-shadow: 0 0 6px #888888;
    box-shadow: 0 0 6px #888888;
    height: 168px;
    margin: 0 10px;
    padding: 71px 12px 24px 24px;
    position: relative;
    width: 256px;
}

section.payment .credit-card .front {
    background: none repeat scroll 0 0 #1E3562;
    color: #FFFFFF;
}

section.payment .credit-card .front:before {
    background: url(assets/ICON-cc-lock.svg) no-repeat center center transparent;
    content: "";
    height: 32px;
    left: auto;
    right: 24px;
    position: absolute;
    top: 24px;
    width: 24px;
}

section.payment .credit-card .front:after {
    background-color: #FFFFFF;
	background-image: url(assets/ICON-cc-various.png);
	background-position: center top;
	background-repeat: no-repeat;
    border: 1px solid #000033;
    content: "";
    height: 32px;
    left: 24px;
    position: absolute;
    top: 24px;
    width: 48px;
}

section.payment .credit-card .back {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #000000;
}

section.payment .credit-card .back:before {
    background: none repeat scroll 0 0 #000000;
    content: "";
    height: 32px;
    left: 0;
    position: absolute;
    top: 24px;
    width: 100%;
}

section.payment .visa .front:after {
	background-position: center top;
}

section.payment .master-card .front:after {
	background-position: center center;
}

section.payment .amex .front:after {
	background-position: center bottom;
}


/* TOTAL TABLES
-------------------------------------------------------------- */

table.totals {
    background: none repeat scroll 0 0 #E2E0CD;
    border-top: 8px solid #E2E0CD;
}

table.totals tr {}

table.totals td {
    padding: 6px 0 6px 16px;
}

table.totals td.currency {
    padding-left: 0;
    text-align: right;
}

table.totals tr.subtotal tr {}

table.totals tr.subtotal td {}

table.totals tr.total tr {}

table.totals tr.total td {
    border-top: 1px solid #F2F2E1;
    font-weight: bold;
    padding-bottom: 8px;
    padding-top: 5px;
    text-transform: uppercase;
}


/* FOOTER
-------------------------------------------------------------- */

footer {
    background: none repeat scroll 0 0 #8D7567;
    color: #F2F2E1;
    font-size: 1em; /* 16px */
    height: 4em; /* 64px */
    margin: -4em auto 0; /* -64px auto 0 */
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

footer a {
    color: #F2F2E1;
}

footer a:hover {
    color: #ffffff;
}

footer div.wrap {
    text-align: center;
    padding: 0.5em 6.25% 0; /* 8px 0 0 */
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.h-entry .e-content .tk-museo-sans.p-heading {top:8px}
	.h-entry .meta-data .p-author, .h-entry .meta-data .dt-published {position:relative;top:1px}
	.h-entry .meta-data ul.p-tags li a {line-height:2.38461538em; /* 31px */}
}


/* ABOVE LRG
--------------------------------------------------------------
-------------------------------------------------------------- */
@media screen and (min-width: 1281px) {
.wrap {
    padding-left: 40px;
    padding-right: 40px;
}

.status-bar .inline,
footer div.wrap {
    padding-left: 80px;
    padding-right: 80px;
}
}


/* MED
--------------------------------------------------------------
--------------------------------------------------------------
@media screen and (min-width: 896px) and (max-width: 1151px) { */
@media screen and (max-width: 1151px) {
.content > section {
    padding-bottom: 28px;
}

.content > section:last-child {
    margin-bottom: 56px;
}

.wrap {
    max-width: 1024px;
    min-width: 896px;
}

header {
    height: 65px;
    margin-bottom: 5px;
}

.status-bar {
    height: 40px;
    top: 65px;
}

.img-txt {
    font-size: 15px;
    line-height: 15px;
}

.more-link {
    font-size: 13px;
    line-height: 14px;
}

.h-entry {
    margin-bottom: 42px;
    margin-top: 23px;
    padding-top: 42px;
}

.h-entry .tk-league-gothic.p-name {
    font-size: 56px;
    padding-bottom: 14px;
    padding-top: 7px;
    top: 1px;
}

.h-entry .e-content {
    margin-top: 7px;
}

.h-entry .e-content p {
    font-size: 19px;
    line-height: 28px;
    padding: 7px 0;
}

.h-entry .e-content .p-heading {
    font-size: 21px;
    line-height: 28px;
    padding: 14px 0;
    top: 6px;
}

.h-entry .e-content .tk-museo-sans.p-heading {
    font-size: 22px;
    line-height: 28px;
    padding: 14px 0;
    top: 6px;
}

.h-entry .meta-data {
    height: 28px;
    line-height: 28px;
    top: 0;
}

.h-entry .meta-data .u-url {
	background-position: 4px center;
}

.h-entry .meta-data ul.p-tags li a {
    line-height: 28px;
    padding: 0 11px;
}

footer {
    font-size: 1em;
    height: 56px;
    margin: -56px auto 0;
}
}


/* SML
--------------------------------------------------------------
--------------------------------------------------------------
@media screen and (max-width: 895px) {}
 */