/* LAYOUT: HOME
-------------------------------------------------------------- */

body.body section:first-of-type .full-col:first-of-type {
    margin-bottom: 13px;
}


/* LAYOUT: SIGN-UP
-------------------------------------------------------------- */

body.sign-up .status-bar {
	display: block;
}

body.sign-up .status-bar ol.inline li {
    counter-increment: signUpIndex;
    display: inline-block;
    float: none;
    font-size: 1.25em; /* 20px */
    line-height: 2.2em; /* 44px */
    padding-left: 1.8em; /* 36px */
    padding-right: 1.8em; /* 36px */
    position: relative;
    width: auto;
}

body.sign-up .status-bar ol.inline li a {
    height: 2.25em; /* 45px */
    font-size: inherit;
    line-height: inherit;
}

body.sign-up .status-bar ol.inline li:before {
    content: counter(signUpIndex, decimal) ")";
    font-size: inherit;
    left: 0;
    line-height: inherit;
    position: absolute;
    text-align: center;
    top: 0;
    height: 2.25em; /* 45px */
    width: 1.8em; /* 36px */
}

body.sign-up .status-bar ol.inline li.active,
body.sign-up .status-bar ol.inline li:hover {
    color: #f2f2e1;
}

body.sign-up .status-bar ol.inline li.active {
    background: url(assets/BG-breadcrumb-active.svg) no-repeat center bottom transparent;
}

body.sign-up .status-bar ol.inline li.completed,
body.sign-up .status-bar ol.inline li.completed a {
    color: #1C1510;
    text-decoration: none;
}

body.sign-up .status-bar ol.inline li.completed:before {
    content: "";
    background: url(assets/ICON-checkmark.svg) no-repeat center 45% transparent;
}

body.sign-up section:first-of-type .btn.back,
body.sign-up section:first-of-type .btn.next {
    bottom: 15px;
    position: absolute;
    right: 0;
    left: auto;
    top: auto;
    width: 14.2857%;
}

body.sign-up section:first-of-type .btn.back {
    right: 14.2857%;
}

body.sign-up section:first-of-type {
background-color: #f2f2e1;
background-image: linear-gradient(bottom, rgb(242,242,225) 0%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(242,242,225) 0%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(242,242,225) 0%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(242,242,225) 0%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(242,242,225) 0%, rgb(255,255,255) 100%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(242,242,225)),
	color-stop(1, rgb(255,255,255))
);
    margin-bottom: 2em;
    padding-bottom: 3em;
}

body.sign-up section:first-of-type div.full-col:first-of-type {
    border-bottom: 1px solid #F2F2E1;
    margin-bottom: 14px;
    padding-bottom: 25px;
}

body.sign-up section:first-of-type .full-col:first-of-type .p-heading {
}

body.sign-up section h3.tk-museo-sans {
    color: #392A21;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 4px;
    text-align: center;
    text-decoration: none;
}

body.sign-up fieldset.submit {
    border-top: 1px solid #F2F2E1;
    margin-bottom: 38px !important;
    margin-top: 41px !important;
}

body.sign-up fieldset.submit .btn {
    top: -32px;
}


/* PAGE: SIGN-UP » TYPE & SIZE
-------------------------------------------------------------- */

body.#sign-up-1 section:first-of-type .full-col:first-of-type{
	margin-bottom: 30px;
}

body#sign-up-1 section .four-col {
    margin: 8px 0 0;
    text-align: center;
    width: 33%;
}

body#sign-up-1 section #veggie-fruit-bag {
    margin: 0;
    width: 34%;
}

body#sign-up-1 section .four-col img {
    height: 176px;
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

body#sign-up-1 section .four-col h2.tk-league-gothic {
    background: #CC6633;
    color: #FFFFFF;
    margin-top: 160px;
    margin-bottom: 16px;
    padding: 0.178571em 0 0.107143em; /* 10px 0 6px */
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    top: 0;
}

body#sign-up-1 section #veggie-bag h2.tk-league-gothic {
    background: url("assets/BG-sign-up-veggie.svg") no-repeat scroll left center transparent;
}

body#sign-up-1 section #veggie-fruit-bag h2.tk-league-gothic:before,
body#sign-up-1 section #veggie-fruit-bag h2.tk-league-gothic:after {
    background: url("assets/BFR-AFTR-sign-up-veggie-fruit.svg") no-repeat scroll left top transparent;
    bottom: -8px;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: auto;
    width: 4px;
}

body#sign-up-1 section #veggie-fruit-bag h2.tk-league-gothic:after {
    background: url("assets/BFR-AFTR-sign-up-veggie-fruit.svg") no-repeat scroll right top transparent;
    left: auto;
    right: 0;
}

body#sign-up-1 section #fruit-bag h2.tk-league-gothic {
    background: url("assets/BG-sign-up-fruit.svg") no-repeat scroll right center transparent;
}

body#sign-up-1 section .four-col p,
body#sign-up-1 section .four-col .fieldrow  {
	margin: 0 10.824742% 0;
}

body#sign-up-1 section #veggie-bag p,
body#sign-up-1 section .four-col .fieldrow  {
	margin: 0 9.0425532% 0 10.106383%;
}

body#sign-up-1 section #fruit-bag p,
body#sign-up-1 section .four-col .fieldrow  {
	margin: 0 10.106383% 0 9.0425532%;
}

body#sign-up-1 section .four-col .fieldrow {
    background: none repeat scroll 0 0 #F2F2E1;
    border: 2px solid #FFFFFF;
	box-shadow: 0 0 4px #d6a87e;
    position: relative;
    top: 0;
}

body#sign-up-1 section #veggie-bag .fieldrow {
	box-shadow: 0 0 4px #8dae7c;
}

body#sign-up-1 section #veggie-fruit-bag .fieldrow {
	box-shadow: 0 0 4px #cc6633;
}

body#sign-up-1 section #fruit-bag .fieldrow {
	box-shadow: 0 0 4px #f49956;
}

body#sign-up-1 section .four-col input[type="radio"] {
    top: -1px !important;
}

body#sign-up-1 section .four-col label {
    background: #F2F2E1;
    color: #392A21;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 52px;
    padding-top: 12px !important;
    width: 50%;
}

body#sign-up-1 section .four-col label:hover {
	background: #ffffff;
}

body#sign-up-1 section .four-col label:first-of-type {
    border-right: 1px solid #FFFFFF;
}

body#sign-up-1 section .four-col label:last-of-type {
    border-left: 1px solid #FFFFFF;
}

body#sign-up-1 section .four-col label.completed {
	background-color: #392A21;
	color: #ffffff;
}

body#sign-up-1 section#never-send-list .wrap {
	overflow: hidden;
}

body#sign-up-1 section#never-send-list .full-col {
	text-align: center;
}

body#sign-up-1 section#never-send-list .genbox {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

body#sign-up-1 section#never-send-list fieldset {
    margin-top: 28px;
}



/* PAGE: SIGN-UP » DELIVERY INFORMATION
-------------------------------------------------------------- */

body#sign-up-2 section#delivery-schedule {
    padding-bottom: 0;
}

body#sign-up-2 section#delivery-schedule .fieldrow {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    margin: 28px 27.5714% 0;
    padding: 6px 1% 0;
    top: 0;
}

body#sign-up-2 section#delivery-schedule label {
    background: none repeat scroll 0 0 transparent;
    border-radius: 8px 8px 0 0;
    color: #392A21;
    font-size: 18px;
    font-weight: 500;
    height: 70px;
    padding-top: 23px !important;
    text-align: center;
    width: 50%;
    cursor: pointer;
}

body#sign-up-2 section#delivery-schedule label.completed {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 6px #E3DDD9;
}

body#sign-up-2 section#delivery-schedule input[type="radio"] {
    top: -1px !important;
}

body#sign-up-2 section#delivery-info {
	padding-top: 2em;
}

body#sign-up-2 section#delivery-info .four-col,
body#sign-up-2 section#delivery-info .five-col,
body#sign-up-2 section#delivery-info .six-col {
    float: none;
    margin: 0 auto 0.625em;
}

body#sign-up-2 section#delivery-info .text-row label,
body#sign-up-2 section#delivery-info .select-row label {
}

body#sign-up-2 section#delivery-info .wrap {
    overflow: visible;
    position: relative;
}

body#sign-up-2 section#delivery-info .note {
    left: 10%;
    position: absolute;
    top: 47px;
    width: 27%;
    z-index: 10;
}

body#sign-up-2 .fieldrow.four-col label {
    width: 25%;
}

body#sign-up-2 .fieldrow.four-col input[type="text"] {
    width: 75%;
}

body#sign-up-2 section#delivery-info #delivered-to-row {
    background: url("assets/BG-LRG-dashed.gif") repeat-x scroll 0 11px #FFFFFF;
    top: 0;
}

body#sign-up-2 section#delivery-info #delivered-to-row label {
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    width: 33.3333%;
}

body#sign-up-2 section#delivery-info #delivered-to-row label.for-boxes {
    line-height: 38px;
    margin-right: 0 !important;
}

body#sign-up-2 section#delivery-info #delivery-postal-row {
    margin-bottom: 18px;
}

body#sign-up-2 section#delivery-info #delivery-postal-row a.btn {
    left: auto;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 5;
}

body#sign-up-2 section#delivery-info #residence-type-row {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    margin-top: 0 !important;
    padding: 4px 0 2px !important;
    text-align: center;
}

body#sign-up-2 section#delivery-info #pick-up-location-row {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 16px;
}

body#sign-up-2 section#delivery-info #pick-up-type .fieldrow {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 14px;
    margin-top: 10px;
}

body#sign-up-2 section#delivery-info #pick-up-type .fieldrow img {
    float: right;
    height: 120px;
    margin: 0 0 0 16px;
    width: auto;
}

body#sign-up-2 section#delivery-info #pick-up-type .fieldrow label.for-boxes {
    display: block;
    height: auto;
    left: 0;
    line-height: 24px;
    margin-right: 0 !important;
    overflow: hidden;
    padding: 9px 9px 9px 1.9em !important;
    text-indent: 0 !important;
    top: 0;
    width: 100%;
}

body#sign-up-2 section#delivery-info #pick-up-type .fieldrow input {
    left: 0.5em;
    position: absolute;
    top: 14px !important;
}

body#sign-up-2 section#delivery-info #pick-up-type .fieldrow small {
    font-size: 13px;
    line-height: 16px;
    margin-top: 4px !important;
    text-indent: 0 !important;
    top: 0;
}

body#sign-up-2 section#delivery-info #pick-up-type p {
	text-align: center;
}


/* MED
--------------------------------------------------------------
--------------------------------------------------------------
@media screen and (min-width: 896px) and (max-width: 1151px) { */
@media screen and (max-width: 1151px) {
#home section .full-col {
    margin-bottom: 0.933333em; /* 14px */
}
}


/* SML
--------------------------------------------------------------
--------------------------------------------------------------
@media screen and (max-width: 895px) {}
 */