/* LAYOUT: HOME
-------------------------------------------------------------- */

body.body section:first-of-type div.full-col:first-of-type {
    margin-bottom: 13px;
}


/* LAYOUT: SIGN-UP
-------------------------------------------------------------- */

body.sign-up .status-bar {
	display: block;
}

body.sign-up .status-bar ol.inline li {
    counter-increment: signUpIndex;
    display: inline-block;
    float: none;
    font-size: 1.25em; /* 20px */
    line-height: 2.2em; /* 44px */
    padding-left: 1.8em; /* 36px */
    padding-right: 1.8em; /* 36px */
    position: relative;
    width: auto;
}

body.sign-up .status-bar ol.inline li a {
    height: 2.25em; /* 45px */
    font-size: inherit;
    line-height: inherit;
}

body.sign-up .status-bar ol.inline li:before {
    content: counter(signUpIndex, decimal) ")";
    font-size: inherit;
    left: 0;
    line-height: inherit;
    position: absolute;
    text-align: center;
    top: 0;
    height: 2.25em; /* 45px */
    width: 1.8em; /* 36px */
}

body.sign-up .status-bar ol.inline li.active {
    color: #f2f2e1;
}

body.sign-up .status-bar ol.inline li.active {
    background: url(assets/BG-breadcrumb-active.svg) no-repeat center bottom transparent;
}

body.sign-up .status-bar ol.inline li.completed,
body.sign-up .status-bar ol.inline li.completed a {
    color: #1C1510;
    text-decoration: none;
}

body.sign-up .status-bar ol.inline li.completed:before {
    content: "";
    background: url(assets/ICON-checkmark.svg) no-repeat center 45% transparent;
}

body.sign-up section:first-of-type .btn.back,
body.sign-up section:first-of-type .btn.next {
    bottom: 15px;
    position: absolute;
    right: 0;
    left: auto;
    top: auto;
    width: 14.2857%;
}

body.sign-up section:first-of-type .btn.back {
    right: 14.2857%;
}

body.sign-up section:first-of-type {
background-color: #f2f2e1;
background-image: linear-gradient(bottom, rgb(242,242,225) 0%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(242,242,225) 0%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(242,242,225) 0%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(242,242,225) 0%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(242,242,225) 0%, rgb(255,255,255) 100%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(242,242,225)),
	color-stop(1, rgb(255,255,255))
);
    padding-bottom: 3em;
}

body.sign-up section:first-of-type div.full-col:first-of-type {
    border-bottom: 1px solid #E2E0CD;
    margin-bottom: 14px;
    padding-bottom: 25px;
}

body.sign-up section:first-of-type .full-col:first-of-type .p-heading {
}

body.sign-up section h3.tk-museo-sans {
    color: #392A21;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 4px;
    text-align: center;
    text-decoration: none;
}

body.sign-up fieldset.submit {
    border-top: 1px solid #E2E0CD;
    margin-bottom: 38px !important;
    margin-top: 41px !important;
}

body.sign-up fieldset.submit .btn {
    top: -24px;
}


/* PAGE: SIGN-UP » TYPE & SIZE
-------------------------------------------------------------- */

body.#sign-up-1 section:first-of-type .full-col:first-of-type{
	margin-bottom: 30px;
}

body#sign-up-1 section .four-col {
    margin: 8px 0 0;
    text-align: center;
    width: 33%;
}

body#sign-up-1 section #veggie-fruit-bag {
    margin: 0;
    width: 34%;
}

body#sign-up-1 section .four-col img {
    height: 176px;
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

body#sign-up-1 section .four-col h2.tk-league-gothic {
    background: #CC6633;
    color: #FFFFFF;
    margin-top: 160px;
    margin-bottom: 16px;
    padding: 0.178571em 0 0.107143em; /* 10px 0 6px */
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    top: 0;
}

body#sign-up-1 section #veggie-bag h2.tk-league-gothic {
    background: url("assets/BG-sign-up-veggie.svg") no-repeat scroll left center transparent;
}

body#sign-up-1 section #veggie-fruit-bag h2.tk-league-gothic:before,
body#sign-up-1 section #veggie-fruit-bag h2.tk-league-gothic:after {
    background: url("assets/BFR-AFTR-sign-up-veggie-fruit.svg") no-repeat scroll left top transparent;
    bottom: -8px;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: auto;
    width: 4px;
}

body#sign-up-1 section #veggie-fruit-bag h2.tk-league-gothic:after {
    background: url("assets/BFR-AFTR-sign-up-veggie-fruit.svg") no-repeat scroll right top transparent;
    left: auto;
    right: 0;
}

body#sign-up-1 section #fruit-bag h2.tk-league-gothic {
    background: url("assets/BG-sign-up-fruit.svg") no-repeat scroll right center transparent;
}

body#sign-up-1 section .four-col p,
body#sign-up-1 section .four-col .fieldrow  {
	margin: 0 10.824742% 0;
}

body#sign-up-1 section #veggie-bag p,
body#sign-up-1 section #veggie-bag .fieldrow  {
	margin: 0 9.0425532% 0 10.106383%;
}

body#sign-up-1 section #fruit-bag p,
body#sign-up-1 section #fruit-bag .fieldrow  {
	margin: 0 10.106383% 0 9.0425532%;
}

body#sign-up-1 section .four-col .fieldrow {
    background: none repeat scroll 0 0 #F2F2E1;
    border: 2px solid #FFFFFF;
	box-shadow: 0 0 4px #d6a87e;
    position: relative;
    top: 0;
}

body#sign-up-1 section #veggie-bag .fieldrow {
	box-shadow: 0 0 4px #8dae7c;
}

body#sign-up-1 section #veggie-fruit-bag .fieldrow {
	box-shadow: 0 0 4px #cc6633;
}

body#sign-up-1 section #fruit-bag .fieldrow {
	box-shadow: 0 0 4px #f49956;
}

body#sign-up-1 section .four-col input[type="radio"] {
    top: -1px !important;
}

body#sign-up-1 section .four-col label {
    background: #F2F2E1;
    color: #392A21;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 52px;
    padding-top: 12px !important;
    width: 50%;
}

body#sign-up-1 section .four-col label:hover {
	background: #ffffff;
}

body#sign-up-1 section .four-col label:first-of-type {
    border-right: 1px solid #FFFFFF;
}

body#sign-up-1 section .four-col label:last-of-type {
    border-left: 1px solid #FFFFFF;
}

body#sign-up-1 section .four-col label.completed {
	background-color: #392A21;
	color: #ffffff;
}

body#sign-up-1 section#never-send-list {
	padding-top: 2em;
}

body#sign-up-1 section#never-send-list .wrap {
	overflow: hidden;
}

body#sign-up-1 section#never-send-list .full-col {
	text-align: center;
}

body#sign-up-1 section#never-send-list .genbox {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

body#sign-up-1 section#never-send-list fieldset {
    margin-top: 28px;
}



/* PAGE: SIGN-UP » DELIVERY INFORMATION
-------------------------------------------------------------- */

body#sign-up-2 section#delivery-schedule {
    padding-bottom: 0;
}

body#sign-up-2 #delivery-schedule-row {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    margin: 44px 27.5714% 0;
    padding: 6px 1% 0;
    top: 0;
}

body#sign-up-2 #delivery-schedule-row label {
    background: none repeat scroll 0 0 transparent;
    border-radius: 8px 8px 0 0;
    color: #392A21;
    font-size: 18px;
    font-weight: 500;
    height: 70px;
    padding-top: 23px !important;
    text-align: center;
    width: 50%;
    cursor: pointer;
}

body#sign-up-2 #delivery-schedule-row label.completed {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 6px #E3DDD9;
}

body#sign-up-2 #delivery-schedule-row input[type="radio"] {
    top: -1px !important;
}

body#sign-up-2 section#delivery-info {
	padding-top: 3.5em;
}

section.payment .genbox,
body#sign-up-2 section#delivery-info .genbox.fieldrow,
body#sign-up-3 section#promo-and-rules .genbox {
    float: none;
    margin: 0 auto 0.625em;
}

body#sign-up-2 section#delivery-info .text-row label,
body#sign-up-2 section#delivery-info .select-row label {
}

body#sign-up-2 section#delivery-info .wrap {
    overflow: visible;
    position: relative;
}

body#sign-up-2 section#delivery-info .note {
    left: 10%;
    position: absolute;
    top: 47px;
    width: 27%;
    z-index: 10;
}

body#sign-up-2 .fieldrow.four-col label {
    width: 25%;
}

body#sign-up-2 .fieldrow.four-col input[type="text"] {
    width: 75%;
}

body#sign-up-2 section#delivery-info #delivered-to-row {
    background: url("assets/BG-LRG-dashed.gif") repeat-x scroll 0 11px #FFFFFF;
    top: 0;
}

body#sign-up-2 section#delivery-info #delivered-to-row label {
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    width: 33.3333%;
}

body#sign-up-2 section#delivery-info #delivered-to-row label.for-boxes {
    line-height: 38px;
    margin-right: 0 !important;
}

body#sign-up-2 section#delivery-info #delivery-postal-row {
    margin-bottom: 18px;
}

body#sign-up-2 section#delivery-info #delivery-postal-row a.btn {
    left: auto;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 5;
}

section.payment .fieldrow#payment-type-row,
body#sign-up-2 section#delivery-info #residence-type-row {
    background: transparent;
    border: medium none;
    -webkit-border-radius: 0 0 0 0;
     -khtml-border-radius: 0 0 0 0;
      -icab-border-radius: 0 0 0 0;
       -moz-border-radius: 0 0 0 0;
         -o-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    box-shadow: none;
    margin-top: 0 !important;
    padding: 4px 0 2px !important;
    text-align: center;
    text-indent: -6px;
}

body#sign-up-2 section#delivery-info #pick-up-location-row {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 16px;
}

body#sign-up-2 section#delivery-info #pick-up-type-set .fieldrow {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 14px;
    margin-top: 10px;
}

body#sign-up-2 section#delivery-info #pick-up-type-set .fieldrow img {
    float: right;
    height: 120px;
    margin: 0 0 0 16px;
    width: auto;
}

body#sign-up-2 section#delivery-info #pick-up-type-set .fieldrow label.for-boxes {
    cursor: pointer;
    display: block;
    height: auto;
    left: 0;
    line-height: 24px;
    margin-right: 0 !important;
    overflow: hidden;
    padding: 9px 9px 9px 1.9em !important;
    text-indent: 0 !important;
    top: 0;
    width: 100%;
}

body#sign-up-2 section#delivery-info #pick-up-type-set .fieldrow input {
    left: 0.5em;
    position: absolute;
    top: 14px !important;
}

body#sign-up-2 section#delivery-info #pick-up-type-set .fieldrow small {
    font-size: 13px;
    line-height: 16px;
    margin-top: 4px !important;
    text-indent: 0 !important;
    top: 0;
}

body#sign-up-2 section#delivery-info #pick-up-type-set p {
	text-align: center;
}


/* PAGE: SIGN-UP » ACCOUNT & PAYMENT
-------------------------------------------------------------- */

body#sign-up-3 section#account {
    background: none repeat scroll 0 0 transparent;
    margin-bottom: 0;
    padding-bottom: 34px;
}

body#sign-up-3 section#account .wrap {
	position: relative;
	overflow: hidden;
}

body#sign-up-3 section#account #fill-in-set {
    margin-left: 20%;
}

body#sign-up-3 section#account #fill-in-set:after {
    color: #392A21;
    content: "OR";
    font-family: "museo-sans","Helvetica","Arial",sans-serif;
    font-size: 1.4375em;
    font-weight: 700;
    left: 100%;
    line-height: 1.3913em;
    position: absolute;
    text-align: center;
    top: 18px;
    width: 25%;
}

body#sign-up-3 section#account h3.tk-museo-sans {
    margin-bottom: 20px;
}

body#sign-up-3 section#account #fill-in-set label {
    width: 37.2%;
}

body#sign-up-3 section#account #fill-in-set input {
    width: 62.8%;
}

body#sign-up-3 section#account .sign-in-with {
    border: 4px solid;
    -webkit-border-radius: 8px 8px 8px 8px;
     -khtml-border-radius: 8px 8px 8px 8px;
      -icab-border-radius: 8px 8px 8px 8px;
       -moz-border-radius: 8px 8px 8px 8px;
         -o-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    top: 2px;   
}

body#sign-up-3 section#account a.sign-in-with {
    background: none repeat scroll 0 0 #eeeeee;
	display: block;
    height: 86px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: auto;
    -webkit-opacity: 0.8;
     -khtml-opacity: 0.8;
      -icab-opacity: 0.8;
       -moz-opacity: 0.8;
         -o-opacity: 0.8;
    opacity: 0.8;
    text-align: center;
    padding: 26px 0 0 0;
    position: relative;
    text-decoration: none;
    -webkit-transition: -webkit-opacity 250ms;
     -khtml-transition: -khtml-opacity 250ms;
      -icab-transition: -icab-opacity 250ms;
       -moz-transition: -moz-opacity 250ms;
         -o-transition: -o-opacity 250ms;
    transition: opacity 250ms;
}

body#sign-up-3 section#account a.sign-in-with:hover {
	-webkit-opacity: 1;
	 -khtml-opacity: 1;
	  -icab-opacity: 1;
	   -moz-opacity: 1;
	     -o-opacity: 1;
	opacity: 1;
}

body#sign-up-3 section#account .sign-in-with:before {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: 40px 40px;
     -khtml-background-size: 40px 40px;
      -icab-background-size: 40px 40px;
       -moz-background-size: 40px 40px;
         -o-background-size: 40px 40px;
    background-size: 40px 40px;
    bottom: 0;
    content: "";
    height: 40px;
    left: 16px;
    margin: auto;
    position: absolute;
    top: 0;
    width: 40px;
}

body#sign-up-3 section#account #facebook-account,
body#sign-up-3 section#account #facebook-account p.tk-museo-sans a {
    border-color: #3B5998;
    color: #3B5998;
}

body#sign-up-3 section#account #facebook-account:before {
	background-image: url(assets/BG-fb-account.svg);
	background-color: #3B5998;
	outline: 1px solid #3B5998;
}

body#sign-up-3 section#account #google-account,
body#sign-up-3 section#account #google-account p.tk-museo-sans a  {
    border-color: #dd4b39;
    color: #dd4b39;
}

body#sign-up-3 section#account #google-account:before {
	background-image: url(assets/BG-gplus-account.svg);
	background-color: #dd4b39;
	outline: 1px solid #dd4b39;
}

body#sign-up-3 section#account div.sign-in-with {
    float: none;
    margin: 54px auto 33px;
}

body#sign-up-3 section#account div.sign-in-with:before {
    bottom: 11px;
    left: 12px;
    top: auto;
    z-index: 1;
}

body#sign-up-3 section#account div.sign-in-with h3.tk-museo-sans {
    margin: 0 12px 20px;
    overflow: hidden;
    padding-top: 20px;
    text-align: left;
    top: 0;
}

body#sign-up-3 section#account div.sign-in-with img {
    float: left;
    height: 80px;
    margin: -8px 12px 0 0;
    width: 80px;
}

body#sign-up-3 section#account div.sign-in-with small {
    border-top: 1px dotted #CCCCCC;
    color: #888888;
    display: block;
    font-family: Georgia,serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin-left: 92px;
    margin-top: 3px;
    padding-top: 2px;
}

body#sign-up-3 section#account div.sign-in-with p.tk-museo-sans {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 0 0 5px 6px;
    clear: left;
    color: #888888;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    padding: 15px 12px 16px 62px;
}

body#sign-up-3 section#account div.sign-in-with p.tk-museo-sans a {
    display: block;
}

body#sign-up-3 section#account #account-name-email-set {
    margin-left: 15%;
    margin-right: 0;
}

body#sign-up-3 section#promo-and-rules #promo-code-set {
    padding-top: 2.5em;
}

body#sign-up-3 section#promo-and-rules #promo-code-row {
    margin-left: 18.75%;
    margin-right: 18.75%;
}

body#sign-up-3 section#promo-and-rules #promo-code-row label {
    width: 29.5%;
}

body#sign-up-3 section#promo-and-rules #feedback-row label {
    width: 37.3%;
}

body#sign-up-3 section#promo-and-rules #feedback-row select {
    width: 62.7%;
}

body#sign-up-3 section#promo-and-rules #rules-agree-set {
    border-top: 1px solid #F2F2E1;
    margin-top: 2em;
    padding-top: 15px;
    text-align: center;
}

body#sign-up-3 section#promo-and-rules #rules-agree-row,
body#sign-up-4 section#overview-promo-rules #rules-agree-row {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin-bottom: 0.25em;
    padding-top: 0.25em;
}


/* PAGE: SIGN-UP » REVIEW
-------------------------------------------------------------- */

body#sign-up-4 section#overview-type-size {
    padding-bottom: 0;
}

body#sign-up-4 section#overview-type-size .wrap {
    background: url(../images/IMG-veggie-fruit-bag.png) no-repeat scroll 55% 120% transparent;
    -webkit-background-size: 300px auto;
     -khtml-background-size: 300px auto;
      -icab-background-size: 300px auto;
       -moz-background-size: 300px auto;
         -o-background-size: 300px auto;
    background-size: 300px auto;
}

body#sign-up-4 section#overview-type-size div.full-col:first-of-type {
	margin-bottom: 0;
}

body#sign-up-4 section#overview-type-size #basket-overview {
    margin-right: 0;
    margin-top: 14px;
}

body#sign-up-4 section#overview-type-size #basket-overview h2.tk-league-gothic {
    color: #1C1510;
}

body#sign-up-4 section#overview-type-size #totals-overview {
    margin-left: 0;
}

body#sign-up-4 section#overview-delivery-info {
    padding-bottom: 19px;
}

body#sign-up-4 section#overview-delivery-info h3.tk-museo-sans {
    margin-bottom: 19px;
    padding-top: 20px;
}

body#sign-up-4 section#overview-delivery-info .eight-col {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

body#sign-up-4 section#overview-delivery-info p.eight-col {
    border-top: 1px solid #F2F2E1;
    margin-bottom: 15px;
    padding-left: 13.3333%;
    position: relative;
}

body#sign-up-4 section#overview-delivery-info p.eight-col:before {
    background: none repeat scroll 0 0 #F2F2E1;
    content: "Test";
    height: 42px;
    left: 0;
    line-height: 42px;
    padding-right: 2%;
    position: absolute;
    text-align: right;
    top: -1px;
    width: 21%;
}

body#sign-up-4 section#overview-delivery-info p#address:before {
    content: "Address";
}

body#sign-up-4 section#overview-delivery-info p#instructions:before {
    content: "Instructions";
}

body#sign-up-4 section#submit fieldset.submit .btn {
    width: 18%;
}

body#sign-up-4 section#overview-promo-rules #rules-agree-row {
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.25em;
    text-align: center;
}


/* MED
--------------------------------------------------------------
--------------------------------------------------------------
@media screen and (min-width: 896px) and (max-width: 1151px) { */
@media screen and (max-width: 1151px) {
#home section .full-col {
    margin-bottom: 0.933333em; /* 14px */
}
}


/* SML
--------------------------------------------------------------
--------------------------------------------------------------
@media screen and (max-width: 895px) {}
 */